.social {
    margin: 0 auto;

    ul {
      margin-left: 0;
    }

    a:hover {
      text-decoration: none;
    }

    .username {
      margin-left: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
}
